<style type="text/css" media="screen">
		
		#box1{
			width: 46%;
			float: left;
		}
		#box2{
			width: 46%;
			float: right;
		}
		.border{
			border: 1px solid black;
			background-color: #FFDAB9;
			text-align: center;
			
		}
		.mb-5{
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 20px;
		}
		.clear{
			clear: both;
		}
		
	</style>